#grid-container{
  height: 800px;
  width: 800px;
  border: 2px solid black;
}

.pixel-row{
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.pixel{
  /* transition: background-color 3s; */
  /* transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
  transition: opacity 2s;
  opacity: 0;
  background-color: grey;
}

/* .pixel:hover{
  background-color: grey;
} */

.pixel.trace{
  transition: opacity 0s;
  opacity: 1;
}